
@model Cart
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if (Model.CartItems.Count == 0)
{
    <p>You have no items in your cart!</p>
    <a asp-controller="Product" asp-action="Index" >Shop More!</a>
}
else
{
    <table class="table table-striped">
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Product.Description</td>
                <td><img src="@item.Product.Image" class="img-fluid" /></td>
                <td>@((item.Product.Price ?? 0).ToString("c"))</td>
                <td>@item.Quantity</td>
                <td>@((item.Quantity * (item.Product.Price ?? 0)).ToString("c"))</td>
                <td>
                    <form method="post" asp-action="remove">
                        <input type="hidden" name="id" value="@item.ID" />
                        <input type="submit" value="Remove" class="btn btn-primary" />
                    </form>
                </td>
            </tr>

        }
    </table>


    <div class="row">
        <div class="col-md-4 col-lg-6">
            <form method="get">
                <input type="submit" class="btn btn-primary" value="Shop More" asp-area="" asp-controller="Product" asp-action="Index">
                <input type="submit" class="btn btn-primary" value="Checkout" asp-area="" asp-controller="Checkout" asp-action="Index">

            </form>
        </div>
    </div>

}



